<div style="display: flex; height: 650px; border: 1px solid #ccc">
  <div style="width: 250px; border-right: 1px solid #ccc">
    <dx-list
        #list
        [dataSource]="dataSource" 
        keyExpr="productID"
        displayExpr="productName"
        pageLoadMode="scrollBottom"
        [searchEnabled]="true"
        searchExpr="productName"
        selectionMode="single">
    </dx-list>
  </div>
  <div style="flex-grow: 1">
    <dx-dashboard-control
        style="display: block; width: 100%; height: 100%;" 
        [endpoint]="serverUrl + '/api/dashboard'"
        [dashboardId]="list.selectedItemKeys.toString()"
        [loadDefaultDashboard]="false">
    </dx-dashboard-control>
  </div>
</div>